{% load static %}
<div class="instagram">
            <div class="container-xl">
                <!-- images -->
                <div class="instagram-feed d-flex flex-wrap text-center">
                    <div class="col-12">
                        <a href="https://click.linksynergy.com/fs-bin/click?id=w7*S3fGR7tg&offerid=507388.1539&subid=0&type=4" target="_blank">
                            <img src="{% static 'blog/images/ads/udemy_wide_banner.png' %}">
                        </a>
                    </div>
            </div>
        </div>